## Merging idExpedicion from Perfiles to Etapas ddbb

In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
import pandas as pd
import time
import RunDailyEtapasBuilder

Enter the date to analyze: 2017-03-01
Enter the vehicle to analyze: BUS
Consider ZP in perfiles file (0/1)?: 0

In [3]:
RunDailyEtapasBuilder.runSimplifyPerfiles()

In [4]:
etapas_df = RunDailyEtapasBuilder.loadSimplifiedEtapas()
perfiles_df = RunDailyEtapasBuilder.loadSimplifiedPerfiles()

In [5]:
etapas_df.loc[:,'t_subida'] = pd.to_datetime(etapas_df.t_subida)
perfiles_df.loc[:,'Hini'] = pd.to_datetime(perfiles_df.Hini)
perfiles_df.loc[:,'Hfin'] = pd.to_datetime(perfiles_df.Hfin)

In [6]:
etapas_df.head()

,id,nviaje,tipo_transporte,t_subida,servicio_subida,par_subida,sitio_subida
0,545452,1,BUS,2017-03-01 15:14:32,T518 00R,E-14-116-OP-3,BJFY-49
1,545452,2,BUS,2017-03-01 19:40:51,T104 00R,T-14-123-SN-10,ZN-3993
2,545452,2,BUS,2017-03-01 19:54:33,T426 00I,T-14-110-PO-70,CJRZ-14
3,545452,3,BUS,2017-03-01 21:58:14,B51 00I,T-17-136-PO-45,CRXW-96
4,1090090,1,BUS,2017-03-01 09:40:26,F53 E0 00I,T-21-134-NS-15,FLXP-78

In [7]:
perfiles_df.head()

,ServicioSentido,Patente,Hini,Hfin,idExpedicion
0,T118 00I,ZB-6854,2017-03-01 01:32:45,2017-03-01 01:42:14,0
1,T118 00I,ZB-6854,2017-03-01 01:32:45,2017-03-01 01:42:14,0
2,T118 00I,ZB-6854,2017-03-01 01:32:45,2017-03-01 01:42:14,0
3,T118 00I,ZB-6854,2017-03-01 01:32:45,2017-03-01 01:42:14,0
4,T118 00I,ZB-6854,2017-03-01 01:32:45,2017-03-01 01:42:14,0

In [31]:
columns_names = ['ServicioSentido','Patente','idExpedicion']
simplified_perfiles_df = perfiles_df.drop_duplicates(columns_names)

* Below line takes too long. Do not run it yet

In [ ]:
etapas_df['idExpedicion']=''

for etapas_index, etapas_row in etapas_df.iterrows():
    patente = etapas_row['sitio_subida']
    servicio = etapas_row['servicio_subida']
    t_subida = etapas_row['t_subida']    
    util_perfil_rows = simplified_perfiles_df[(simplified_perfiles_df['Patente']==patente)&
                                             (simplified_perfiles_df['ServicioSentido']==servicio)]
#    if util_perfil_rows.empty:
#        print('something is wrong')
        
    for perfiles_index, perfiles_row in util_perfil_rows.iterrows():
        Hini = perfiles_row['Hini']
        Hfin = perfiles_row['Hfin']
        if(Hini<=t_subida<=Hfin):
            etapas_df.loc[etapas_index,'idExpedicion'] = perfiles_row['idExpedicion']
            break

In [36]:
simplified_perfiles_df = simplified_perfiles_df.sort_values(by=['Patente','ServicioSentido','idExpedicion'], ascending=[True,True, True])

In [37]:
simplified_perfiles_df = simplified_perfiles_df.reset_index()

In [38]:
simplified_perfiles_df.head(50)

,level_0,index,ServicioSentido,Patente,Hini,Hfin,idExpedicion
0,36954,1715439,F07 00I,BBJZ-74,2017-03-01 18:12:12,2017-03-01 18:43:12,37053
1,36961,1715691,F07 00I,BBJZ-74,2017-03-01 19:23:43,2017-03-01 20:18:43,37060
2,36970,1716015,F07 00I,BBJZ-74,2017-03-01 20:59:43,2017-03-01 21:39:13,37069
3,37061,1719291,F07 00R,BBJZ-74,2017-03-01 17:41:42,2017-03-01 18:11:42,37160
4,37068,1719543,F07 00R,BBJZ-74,2017-03-01 18:43:42,2017-03-01 19:23:13,37167
5,37076,1719831,F07 00R,BBJZ-74,2017-03-01 20:29:13,2017-03-01 20:59:13,37175
6,36886,1712991,F07 00I,BBJZ-76,2017-03-01 06:38:31,2017-03-01 07:23:31,36985
7,36894,1713279,F07 00I,BBJZ-76,2017-03-01 07:59:01,2017-03-01 08:41:32,36993
8,36902,1713567,F07 00I,BBJZ-76,2017-03-01 09:11:32,2017-03-01 10:09:02,37001
9,36910,1713855,F07 00I,BBJZ-76,2017-03-01 10:42:02,2017-03-01 11:47:33,37009
10,36924,1714359,F07 00I,BBJZ-76,2017-03-01 13:01:02,2017-03-01 14:10:32,37023
11,36995,1716915,F07 00R,BBJZ-76,2017-03-01 06:10:31,2017-03-01 06:38:01,37094
12,37002,1717167,F07 00R,BBJZ-76,2017-03-01 07:24:01,2017-03-01 07:58:31,37101
13,37011,1717491,F07 00R,BBJZ-76,2017-03-01 08:42:02,2017-03-01 09:10:02,37110
14,37018,1717743,F07 00R,BBJZ-76,2017-03-01 10:09:32,2017-03-01 10:40:02,37117
15,37030,1718175,F07 00R,BBJZ-76,2017-03-01 12:23:32,2017-03-01 12:58:02,37129
16,36719,1706645,F08 00I,BBJZ-76,2017-03-01 22:09:04,2017-03-01 22:49:04,36818
17,66606,3370359,F08 00R,BBJZ-76,2017-03-01 05:14:31,2017-03-01 06:10:01,67132
18,66709,3374067,F08 00R,BBJZ-76,2017-03-01 22:49:34,2017-03-01 23:13:34,67235
19,37212,1724259,F23 00I,BBJZ-76,2017-03-01 23:16:34,2017-03-01 23:20:02,37311
20,37213,1724291,F23 00I,BBJZ-76,2017-03-01 23:20:34,2017-03-01 23:44:04,37312
21,66299,3351567,F23 00R,BBJZ-76,2017-03-01 23:44:34,2017-03-01 23:59:04,66825
22,38322,1767134,F27 00I,BBJZ-76,2017-03-01 18:17:32,2017-03-01 18:46:32,38421
23,38329,1767337,F27 00I,BBJZ-76,2017-03-01 19:35:32,2017-03-01 20:09:32,38428
24,38335,1767511,F27 00I,BBJZ-76,2017-03-01 20:50:33,2017-03-01 21:17:03,38434
25,66739,3375003,F27 00R,BBJZ-76,2017-03-01 18:47:02,2017-03-01 19:35:02,67265
26,66745,3375183,F27 00R,BBJZ-76,2017-03-01 20:10:02,2017-03-01 20:50:03,67271
27,66751,3375363,F27 00R,BBJZ-76,2017-03-01 21:17:33,2017-03-01 22:07:04,67277
28,41365,1941293,F28 C2 00I,BBJZ-76,2017-03-01 01:04:33,2017-03-01 02:06:03,41488
29,41371,1941761,F28 C2 00I,BBJZ-76,2017-03-01 04:22:01,2017-03-01 05:14:01,41494
30,38743,1784096,F28 C2 00R,BBJZ-76,2017-03-01 02:06:33,2017-03-01 03:28:33,38842
31,38304,1766612,F27 00I,BBJZ-80,2017-03-01 06:57:39,2017-03-01 07:20:39,38403
32,66720,3374433,F27 00R,BBJZ-80,2017-03-01 07:21:09,2017-03-01 07:57:41,67246
33,37708,1739563,F03 C0 00I,BBKB-11,2017-03-01 17:31:14,2017-03-01 18:04:14,37807
34,37715,1739759,F03 C0 00I,BBKB-11,2017-03-01 18:41:14,2017-03-01 19:26:14,37814
35,37722,1739955,F03 C0 00I,BBKB-11,2017-03-01 19:56:14,2017-03-01 20:40:14,37821
36,37730,1740179,F03 C0 00R,BBKB-11,2017-03-01 18:04:44,2017-03-01 18:40:44,37829
37,37737,1740375,F03 C0 00R,BBKB-11,2017-03-01 19:26:44,2017-03-01 19:55:44,37836
38,37744,1740571,F03 C0 00R,BBKB-11,2017-03-01 20:43:14,2017-03-01 20:49:46,37843
39,38263,1765461,F03 C0 06I,BBKB-11,2017-03-01 06:15:41,2017-03-01 06:58:41,38362
40,38268,1765601,F03 C0 06I,BBKB-11,2017-03-01 07:24:41,2017-03-01 07:59:11,38367
41,38275,1765797,F03 C0 06I,BBKB-11,2017-03-01 08:47:41,2017-03-01 09:21:00,38374
42,38279,1765909,F03 C0 06I,BBKB-11,2017-03-01 10:06:12,2017-03-01 10:38:12,38378
43,38285,1766077,F03 C0 06I,BBKB-11,2017-03-01 12:15:13,2017-03-01 12:50:13,38384
44,38289,1766189,F03 C0 06I,BBKB-11,2017-03-01 13:27:43,2017-03-01 14:02:13,38388
45,38219,1764229,F03 C0 06R,BBKB-11,2017-03-01 05:46:40,2017-03-01 06:07:41,38318
46,38223,1764341,F03 C0 06R,BBKB-11,2017-03-01 06:59:11,2017-03-01 07:24:11,38322
47,38229,1764509,F03 C0 06R,BBKB-11,2017-03-01 08:01:11,2017-03-01 08:47:11,38328
48,38235,1764677,F03 C0 06R,BBKB-11,2017-03-01 09:21:01,2017-03-01 10:05:42,38334
49,38239,1764789,F03 C0 06R,BBKB-11,2017-03-01 10:41:12,2017-03-01 11:11:42,38338

In [39]:
simplified_perfiles_df['misma_patente'] = (simplified_perfiles_df['Patente']==simplified_perfiles_df['Patente'].shift()).fillna(False)
simplified_perfiles_df['mismo_servicio'] = (simplified_perfiles_df['ServicioSentido']==simplified_perfiles_df['ServicioSentido'].shift()).fillna(False)

In [40]:
simplified_perfiles_df.head()

,level_0,index,ServicioSentido,Patente,Hini,Hfin,idExpedicion,misma_patente,mismo_servicio
0,36954,1715439,F07 00I,BBJZ-74,2017-03-01 18:12:12,2017-03-01 18:43:12,37053,False,False
1,36961,1715691,F07 00I,BBJZ-74,2017-03-01 19:23:43,2017-03-01 20:18:43,37060,True,True
2,36970,1716015,F07 00I,BBJZ-74,2017-03-01 20:59:43,2017-03-01 21:39:13,37069,True,True
3,37061,1719291,F07 00R,BBJZ-74,2017-03-01 17:41:42,2017-03-01 18:11:42,37160,True,False
4,37068,1719543,F07 00R,BBJZ-74,2017-03-01 18:43:42,2017-03-01 19:23:13,37167,True,True

In [41]:
simplified_perfiles_df.loc[(simplified_perfiles_df.misma_patente == True) &
                           (simplified_perfiles_df.mismo_servicio == True), 'diferencia_tiempo_exp'] = (simplified_perfiles_df['Hini']-simplified_perfiles_df['Hfin'].shift())

In [42]:
simplified_perfiles_df.head()

,level_0,index,ServicioSentido,Patente,Hini,Hfin,idExpedicion,misma_patente,mismo_servicio,diferencia_tiempo_exp
0,36954,1715439,F07 00I,BBJZ-74,2017-03-01 18:12:12,2017-03-01 18:43:12,37053,False,False,NaT
1,36961,1715691,F07 00I,BBJZ-74,2017-03-01 19:23:43,2017-03-01 20:18:43,37060,True,True,00:40:31
2,36970,1716015,F07 00I,BBJZ-74,2017-03-01 20:59:43,2017-03-01 21:39:13,37069,True,True,00:41:00
3,37061,1719291,F07 00R,BBJZ-74,2017-03-01 17:41:42,2017-03-01 18:11:42,37160,True,False,NaT
4,37068,1719543,F07 00R,BBJZ-74,2017-03-01 18:43:42,2017-03-01 19:23:13,37167,True,True,00:32:00

In [43]:
not_null_simplified_perfiles = simplified_perfiles_df[simplified_perfiles_df['diferencia_tiempo_exp'].notnull()]

In [44]:
not_null_simplified_perfiles.head()

,level_0,index,ServicioSentido,Patente,Hini,Hfin,idExpedicion,misma_patente,mismo_servicio,diferencia_tiempo_exp
1,36961,1715691,F07 00I,BBJZ-74,2017-03-01 19:23:43,2017-03-01 20:18:43,37060,True,True,00:40:31
2,36970,1716015,F07 00I,BBJZ-74,2017-03-01 20:59:43,2017-03-01 21:39:13,37069,True,True,00:41:00
4,37068,1719543,F07 00R,BBJZ-74,2017-03-01 18:43:42,2017-03-01 19:23:13,37167,True,True,00:32:00
5,37076,1719831,F07 00R,BBJZ-74,2017-03-01 20:29:13,2017-03-01 20:59:13,37175,True,True,01:06:00
7,36894,1713279,F07 00I,BBJZ-76,2017-03-01 07:59:01,2017-03-01 08:41:32,36993,True,True,00:35:30

In [47]:
not_null_simplified_perfiles = not_null_simplified_perfiles.reset_index(drop=True)

In [48]:
not_null_simplified_perfiles['diferencia_tiempo_exp'].min()

Timedelta('0 days 00:00:30')

In [49]:
not_null_simplified_perfiles['diferencia_tiempo_exp'].max()

Timedelta('0 days 23:16:02')

In [51]:
simplified_perfiles_df[simplified_perfiles_df['diferencia_tiempo_exp']==pd.Timedelta('0 days 00:00:30')]

,level_0,index,ServicioSentido,Patente,Hini,Hfin,idExpedicion,misma_patente,mismo_servicio,diferencia_tiempo_exp
3506,37809,1744376,F01 04I,BHRX-54,2017-03-01 09:02:54,2017-03-01 09:39:54,37908,True,True,00:00:30
3510,37846,1746115,F01 04I,BHRX-54,2017-03-01 15:05:00,2017-03-01 15:39:00,37945,True,True,00:00:30
3512,37860,1746773,F01 04I,BHRX-54,2017-03-01 17:13:30,2017-03-01 17:54:00,37959,True,True,00:00:30
18844,37831,1745410,F01 04I,BKXV-92,2017-03-01 12:38:22,2017-03-01 13:14:22,37930,True,True,00:00:30
60720,37801,1744000,F01 04I,WU-5547,2017-03-01 08:08:32,2017-03-01 08:45:02,37900,True,True,00:00:30

In [52]:
simplified_perfiles_df.loc[3502:3510]

,level_0,index,ServicioSentido,Patente,Hini,Hfin,idExpedicion,misma_patente,mismo_servicio,diferencia_tiempo_exp
3502,37232,1725091,F01 00R,BHRX-54,2017-03-01 19:46:30,2017-03-01 20:48:30,37331,True,True,00:56:30
3503,37242,1725531,F01 00R,BHRX-54,2017-03-01 21:34:00,2017-03-01 22:38:00,37341,True,True,00:45:30
3504,37794,1743671,F01 04I,BHRX-54,2017-03-01 06:54:31,2017-03-01 07:54:31,37893,True,False,NaT
3505,37807,1744282,F01 04I,BHRX-54,2017-03-01 08:57:54,2017-03-01 09:02:24,37906,True,True,01:03:23
3506,37809,1744376,F01 04I,BHRX-54,2017-03-01 09:02:54,2017-03-01 09:39:54,37908,True,True,00:00:30
3507,37821,1744940,F01 04I,BHRX-54,2017-03-01 10:42:44,2017-03-01 11:28:44,37920,True,True,01:02:50
3508,37833,1745504,F01 04I,BHRX-54,2017-03-01 12:54:00,2017-03-01 13:42:00,37932,True,True,01:25:16
3509,37845,1746068,F01 04I,BHRX-54,2017-03-01 14:59:30,2017-03-01 15:04:30,37944,True,True,01:17:30
3510,37846,1746115,F01 04I,BHRX-54,2017-03-01 15:05:00,2017-03-01 15:39:00,37945,True,True,00:00:30